@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Open+Sans&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #355070;  
}

/* NAVBAR COMPONENT */
header{
  background-image: url('./images/yellow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120px;
  position: relative;
}

h2{
  font-family:'Long Cang', cursive; 
  color:#355070;
  font-size: 100px;
}

.overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  left:0;
  height: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color:#355070(10,10,0.3) ;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  /* hace que el titulo vaya a un lado y los links a otro */
  padding: 0px 60px 0 60px;
  /* top right bottom left */
}

nav li{
  list-style:none;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
}

li a{
  padding: 5px;
  text-decoration: none;
  font-family:'Long Cang'; 
  font-size: 30px;
}

.icon ion-icon{
  font-size:25px;
  padding-right: 5px;
}

/* En este caso no necesito tunear los buttons
.icon a{
  background-color: blue;
  color:white;
  cursor: pointer;
  text-decoration: none;
} */


/* HOME COMPONENT */
.container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap ;
  margin-top: 5px;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color:#f8e16c;
}

.image{
  margin-right:20px;
  margin-left:20px;
  position: relative;
  overflow: hidden;
}

.addToCart{
  position: absolute;
  width:100%;
  background-color:#8ea8c3;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

/* CART PAGE */
.container-products{
  max-width: 650px;
  justify-content: space-around;
  margin:0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  color: #355070;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

}

.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid#355070;
  margin:0 auto;
}

.product-title{
  width: 45%;
}

.price{
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity{
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total{
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon{
  cursor: pointer;
}

.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img{
  width: 75px;
}

.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;

}

.basketTotalTittle{
  width: 30%;

}

.basketTotal{
  width: 10%;
}


@media(max-width: 500px){
  nav h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sm-hide{
    display: none;
  }

  .products,
  .product-header{
    justify-content: center;
  }

  .basketTotalContainer{
    padding-right: 8%;
  }


}
